@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 390px;
    overflow-x: hidden; 
    margin: 0 auto;
    box-sizing: border-box; 
}

.cabecalho{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo img{
    width: 120px;
    height: 120px;
    border: solid 1px black;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.txt-logo{
    font-size: 2rem;
    font-family: 'Roboto','sans-serif';
    font-weight: bold;
    color: #14A001;
    text-align: center;
    max-width: 224px;
}

.ent-dados{   
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.div-dados{
    max-width: 352px;
    min-height: 48px;
    margin-top: 24px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: 'Roboto','sans-serif';
}

.div-dados label{
    padding-left: 24px;
}

.div-dados input{
    border: none;
    background-color: whitesmoke;
    width: 96px;
    min-height: 48px;
    border-radius: 8px;
    color: #14a001;
    font-family: 'Roboto','sans-serif';
    font-size: 1.2rem;
    padding-left: 4px;
}

.div-dados input::placeholder{
    color: #14a001;
    font-family: 'Roboto','sans-serif';
    font-size: 1.2rem;
}

.btn{
    display: flex;
    gap: 32px;
    margin-top: 24px;
}

.btn button{
    width: 96px;
    height: 48px;
    background-color: #14a001;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto','sans-serif';
    font-weight: bold;
    font-size: 1.2rem;
}

.saida-dados{
    margin-top: 48px;
    margin-left: 24px;
}

.sai-dados{  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 352px;
    padding-left: 48px;
    background-color: whitesmoke;
    box-sizing: border-box;
    font-family: 'Roboto','sans-serif';
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
}

.sai-dados .font-color{
    color: #14a001;
}

/* media query para desktop */
@media (min-width: 720px){
    html, body {
        max-width: 100%; /* Permite expandir no desktop */
        margin: 0 auto; /* Centraliza o conteúdo no desktop */
        overflow-x: hidden;
        box-sizing: border-box; 
    }

    .cabecalho {
        display: flex;
        justify-content: flex-start; /* Alinha o logo e texto à esquerda */
        gap: 32px; /* Aumenta o espaço entre logo e texto */
        padding: 16px 32px;
    }

    .logo img{
        width: 320px;
        height: 320px;
        border: solid 2px black;
        border-radius: 16px;
        box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.5);
    }
    
    .txt-logo{
        font-size: 4.8rem;
        font-family: 'Roboto','sans-serif';
        font-weight: bold;
        color: #14A001;
        text-align: center;
        max-width: 720px;
    }

    .ent-dados {
        margin: 16px auto; /* Centraliza o formulário */
        max-width: 720px; /* Maior largura para desktop */
        padding: 32px 64px;
    }

    .div-dados {
        display: flex; /* Coloca os labels e inputs lado a lado */
        align-items: center;
        justify-content: space-between;
        min-width: 720px;
        min-height: 64px;
        padding: 32px;
        border-radius: 32px;       
    }

    .div-dados label {
        font-size: 2rem;
       
    }

    .div-dados input {
        width: 320px; /* Inputs um pouco maiores */
        font-size: 2rem;
    }

    .div-dados input::placeholder{
        color: #14a001;
        font-family: 'Roboto','sans-serif';
        font-size: 2rem;
    }

    .btn {
        justify-content: center; /* Alinha os botões à esquerda */
        gap: 32px; /* Menor espaçamento entre botões */
        margin-top: 32px;
        text-align: center;
        min-width: 720px;
    }

    .btn button {
        width: 320px; /* Botões maiores */
        height: 64px;
        font-size: 2rem; /* Texto maior nos botões */
    }

    .saida-dados {
        margin: 48px auto; /* Centraliza os dados de saída */
        max-width: 720px;
        padding: 16px 32px;
    }

    .sai-dados {
        padding-left: 32px; /* Reduz o padding interno */
        max-width: 100%; /* Usa toda a largura disponível */
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Distribui em 4 colunas no desktop */
        gap: 16px; /* Espaço entre os itens */
        font-size: 2rem;
    }
}

